<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <form action="" method="post">
        {% csrf_token %} {{car_form.non_field_errors}} {% for field in car_form %}
        <div class="mb-3">
            <label for="liscense" class="form-label">
                {{field.label_tag}}
            </label>
            {{field}}
            {% for error in field.errors %}
            <div class="alert alert-primary" role="alert">
                {{error}}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
