<div class="container mt-3">
    <div class="card">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="brand" class="form-label">Brand Name</label>
            <input
              type="text"
              class="form-control"
              id="brand"
              aria-describedby="brandHelp"
            />
            <div id="brandHelp" class="form-text"></div>
          </div>
  
          <div class="mb-3">
            <label for="color" class="form-label">Color</label>
            <input
              type="text"
              class="form-control"
              id="brand"
              aria-describedby="colorHelp"
            />
            <div id="colorHelp" class="form-text"></div>
          </div>
  
          <div class="mb-3">
            <label for="liscense" class="form-label">Liscense Number</label>
            <input
              type="text"
              class="form-control"
              id="liscense"
              aria-describedby="liscenseHelp"
            />
            <div id="liscenseHelp" class="form-text"></div>
          </div>
          
          <div class="mb-3">
              <label for="liscense" class="form-label">Space</label>
              <input
                type="text"
                class="form-control"
                id="liscense"
                aria-describedby="liscenseHelp"
              />
              <div id="liscenseHelp" class="form-text"></div>
            </div>
  
          <div class="mb-3">
              <label for="liscense" class="form-label">Date</label>
              <input
                type="text"
                class="form-control"
                id="liscense"
                aria-describedby="liscenseHelp"
              />
              <div id="liscenseHelp" class="form-text"></div>
            </div>
  
  
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
  